
@font-face {
  font-family: 'Moriarty';
  src: url('Moriarty.eot?#iefix') format('embedded-opentype'),  url('Moriarty.woff') format('woff'), url('Moriarty.ttf')  format('truetype'), url('Moriarty.svg#Moriarty') format('svg');
  font-weight: normal;
  font-style: normal;
}
